.card {
    font-size: 40px;
    text-align: center;
    color: black;
    background-color: white;
  }
  
  #typeans {
      font-size:26px;
      text-align:center;
      width:200px;
      background-color:#222222;
      color:#ffffff;
   }
  
  .typeGood {
      background-color:#005500;
  }
  .typeBad{
      background-color:#770000;
  }
  .typeMissed{
      background-color:#666666;
  }
  
  .meaning {
      font-size:16px;
      display: table;
        margin: 0 auto;
  
  }
  
  .tone1 {color: #dd0000;}
  .tone2 {color: #ee7700;}
  .tone3 {color: #00bb33;}
  .tone4 {color: #0088ff;}
  .tone5 {color: #aaaaaa;}
  
  .night_mode { }	/*To disable color inversion in AnkiDroid*/
  