.card {
    font-size: 40px;
    text-align: center;
    color: black;
    background-color: white;
  }
  
  #typeans {
      font-size:26px;
      text-align:center;
      width:200px;
      background-color:#222222;
      color:#ffffff;
   }
  
  .typeGood {
      background-color:#005500;
  }
  .typeBad{
      background-color:#770000;
  }
  .typeMissed{
      background-color:#666666;
  }
  
  .meaning {
      font-size:16px;
      display: table;
        margin: 0 auto;
  
  }
  
  a:link {
    color: #00bbff;
    background-color: transparent;
    text-decoration: none;
  }
  
  .night_mode { }	/*To disable color inversion in AnkiDroid*/
  
  .mobile .hide_mobile { display: none; }
  .linux .hide_pc { display: none; }
  .win .hide_pc { display: none; }
  .mac .hide_pc { display: none; }
  
  